
.imground {
	border-radius: 20%;
	display: block;
	margin: auto;
}

#container {
	background-color: lightblue;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}

#demoVideo {
	display: block;
	margin: auto;
	text-align: center;
	padding: 20px 0 20px 0;
}


