
.imground {
	display: block;
	margin: auto;
}

.codePic {
	border-radius: 25px 50px;
	padding: 15px;
}

.content {
	padding: 25px;
}

#container {
	background-color: lightblue;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}

#demoVideo {
	display: block;
	margin: auto;
	text-align: center;
	padding: 20px 0 20px 0;
}

#generalInfo {
	padding: 20px 0 20px 0;	
}


table {
	border:2px solid black;
	top: 20px;
	padding: 20px 0 50px 0;
}

th{
	border-bottom: 2px solid black;
}
tr:nth-child(odd){
	background-color: gray;
}

tr:nth-child(even){
	background-color: white;
}
